// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//App///////////////////////////////
body{
  background-color: rgb(242, 209, 75)
}


#login {

  position: relative;
  background-image: url('/client/src/css/pictures/QUIZ\ PARTY\ LOGIN\ 2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#navbar {
  background-image: url('./pictures/balloonHeader.png');
}

#Header{
  // color:rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold; 
  color: rgb(0, 0, 0);

}
#navButton {
  background-color:rgb(255, 220, 253)
}

//Play/////////////////////////////////////
#MainPlay{
  background-color: rgb(255, 239, 254); 
  font-size: 18px;  
}

#Questions{ 
  background-color: rgb(255, 239, 254);   
  font-size: 18px;
  padding-top: 1em;
  padding-bottom: 1em;
}

#buttonAnswers{
  background-color: rgb(255, 239, 254);  
  //background-color: $orange-500; 
}

#Question{
  background-color: rgb(249, 145, 136)  ;
}

#scores{
  font-size: 30px;
  font-weight: bold; 
  // color: rgb(249, 145, 136);
}

//PROFILE//////////////////////////////////
#profile-background{
  //background-color: rgb(255, 255, 220);
  border-radius: 10px;
  background-color: rgb(110, 124, 215);  
}

#profile-button{
  margin-left: 4px;
  margin-right: 4px;
}


.custom-image {
  background-color: transparent; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spin {
  animation: spin 2s linear infinite; 
}

#profile-text{
  font-weight: bold;
}

