// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//App///////////////////////////////
body{
  background-color: rgb(242, 209, 75)
}


#login {

  position: relative;
  background-image: url('./pictures/QUIZ\ PARTY\ LOGIN\ 2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
}

#navbar {
  background-image: url('./pictures/balloonHeader.png');
}

#Header{
  // color:rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold; 
  color: rgb(0, 0, 0);

}
#navButton {
  background-color:rgb(255, 220, 253)
}

//Play/////////////////////////////////////
#MainPlay{
  background-color: rgb(255, 239, 254); 
  font-size: 20px;  
}

#Questions{ 
  background-color: rgb(255, 239, 254);   
  font-size: 25px;
}

#Questions{
  padding-top: 2em;
  padding-bottom: 2em;
}

//PROFILE//////////////////////////////////
#profile-background{
  //background-color: rgb(255, 255, 220);
  background-color: rgb(255, 239, 254);  
}

#profile-button{
  margin-left: 4px;
  margin-right: 4px;
}
