// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

#MainPlay{
  background-color: rgb(237, 100, 196); 
}

#navBar {
 background-color: rgb(237, 105, 100);

}

.navButton {
  background-color: rgb(100, 237, 166);
}